{% extends 'base.html.jinja2' %}

{% block title %}
  HOME
{% endblock title %}

{% block content %}
  <div>
    <strong>Student work: Abdullah Alharbi</strong>
  </div>

  <div>
    <strong>Student ID: 440230268</strong>
  </div>

  <hr />

  <strong>Technologies:</strong>

  <ul>
    <li><strong>Language:</strong> <a target="_blank" href="https://www.python.org/">Python</a></li>
    <li><strong>Web Framework:</strong> <a target="_blank" href="https://flask.palletsprojects.com/">Flask</a></li>
    <li><strong>Frontend Library:</strong> <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></li>
    <li><strong>Image Library:</strong> <a target="_blank" href="https://pillow.readthedocs.io/en/stable/">Python Pillow</a></li>
  </ul>
{% endblock content %}
